@model DiamondBet.Web.ViewModels.Stadiums.StadiumByIdViewModel
@using DiamondBet.Common

@{
    this.ViewData["Title"] = Model.Name;
}

<h1>@this.ViewData["Title"] </h1>

<h2>Country: @Model.CountryName</h2>

<h3>Year Founded: @Model.YearFounded ~~~ Capacity: @Model.Capacity seats</h3>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <p>
        <a class="nav-link text-dark" asp-area="Administration" asp-controller="Edit" asp-action="Stadium" asp-route-id="@Model.Id">Edit Stadium</a>
        <a class="nav-link text-dark" onclick="return confirm('Are you sure you want to delete this stadium?');" asp-area="Administration" asp-controller="Delete" asp-action="Stadium" asp-route-id="@Model.Id">Delete Stadium</a>
    </p>
}

<p>Last 10 Games at @Model.Name:</p>
<ul>
    @foreach (var game in Model.Games)
    {
        <li>@game.StartingTime ~ @game.HomeTeamName @game.HomeGoals:@game.AwayGoals @game.AwayTeamName</li>
    }
</ul>

