@model DiamondBet.Web.ViewModels.Stadiums.StadiumByIdViewModel
@{
    this.ViewData["Title"] = Model.Name;
}

<h1>@this.ViewData["Title"] </h1>

<h2>Country: @Model.CountryName</h2>

<h3>Year Founded: @Model.YearFounded ~~~ Capacity: @Model.Capacity seats</h3>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Stadiums" asp-action="Edit" asp-route-id="@Model.Id">Edit Stadium</a>
    <a class="nav-link text-dark" onclick="return confirm('Are you sure you want to delete this stadium?');" asp-area="" asp-controller="Stadiums" asp-action="Delete" asp-route-id="@Model.Id">Delete Stadium</a>
</p>

<p>Last 10 Games at @Model.Name:</p>
<ul>
    @foreach (var game in Model.Games)
    {
        <li>@game.StartingTime ~ @game.HomeTeamName @game.HomeGoals:@game.AwayGoals @game.AwayTeamName</li>
    }
</ul>

