@model DiamondBet.Web.ViewModels.Teams.TeamsListViewModel;
@{
    this.ViewData["Title"] = $"Teams by Country";
}

<h1 class="text-center p-lg-3" style="color: rebeccapurple">@this.ViewData["Title"]</h1>

<table class="table table-striped w-50 table-hover" align="center">
    <thead style="background-color: mediumslateblue">
        <tr>
            <th class="col-6 text-white">Team</th>
            <th class="col-6 text-white">Country</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>
                    <a class="nav-link text-dark text-left" asp-area="" asp-controller="Teams" asp-action="ById" asp-route-id="@team.Id">@team.Name</a>
                </td>
                <td>
                    <a class="nav-link text-dark text-left" asp-area="" asp-controller="Countries" asp-action="ById" asp-route-id="@team.CountryId">@team.CountryName</a>

                </td>
            </tr>
        }
    </tbody>
</table>