@model DiamondBet.Web.ViewModels.Games.GameByIdViewModel
@using DiamondBet.Common

@{
    this.ViewData["Title"] = $"{Model.HomeTeamName} {Model.HomeGoals} - {Model.AwayGoals} {Model.AwayTeamName}";
}

<h1 class="text-center" style="color: rebeccapurple">@Model.HomeTeamName @Model.HomeGoals:@Model.AwayGoals @Model.AwayTeamName</h1>

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <div class="d-flex flex-row my-2 justify-content-end align-items-end">
        <a class="btn btn-primary nav-link ml-1 text-white" asp-area="Administration" asp-controller="Edit" asp-action="Game" asp-route-id="@Model.Id">Edit game</a>
        <a class="btn btn-danger nav-link ml-1 text-white" onclick="return confirm('Are you sure you want to delete this game?');" asp-area="Administration" asp-controller="Delete" asp-action="Game" asp-route-id="@Model.Id">Delete game</a>
    </div>
}

<div class="d-inline-block flex-row text-center p-xl-4 col-4">
    <h2 class="text-left p-xl-3" style="color: blueviolet">Game Info:</h2>
    <h4 class="text-left p-xl-3" style="color: midnightblue">Starting Time: @Model.StartingTime</h4>
    <h4 class="text-left p-xl-3" style="color: midnightblue">Competition: <a class="nav-link d-inline-flex" style="color: mediumblue" asp-area="" asp-controller="Competitions" asp-action="ById" asp-route-id="@Model.CompetitionId">@Model.CompetitionName</a></h4>
    <h4 class="text-left p-xl-3" style="color: midnightblue">Venue: <a class="nav-link d-inline-flex" style="color: mediumblue" asp-area="" asp-controller="Stadiums" asp-action="ById" asp-route-id="@Model.StadiumId">@Model.StadiumName</a></h4>
</div>
