@model DiamondBet.Web.ViewModels.Games.GamesListViewModel
@{
    this.ViewData["Title"] = "Previous Games";
}
<h1 class="text-center" style="color: rebeccapurple">@this.ViewData["Title"]</h1>

<ul class="row justify-content-center nav">
    <li class="nav-item">
        <a class="nav-link" style="color: mediumblue" asp-area="" asp-controller="Games" asp-action="UpcomingGames">All Upcoming Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: mediumblue" asp-area="" asp-controller="Games" asp-action="UpcomingGamesToday">Games In 24 Hours</a>
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead style="background-color: mediumslateblue">
        <tr>
            <th class="col-4 text-white">Date</th>
            <th class="col-8 text-white">Game</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var game in Model.Games)
        {
            <tr>
                <td>
                    <p>@game.StartingTime</p>
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ById" asp-route-id="@game.Id">@game.HomeTeamName @game.HomeTeamGoals:@game.AwayTeamGoals @game.AwayTeamName</a>
                </td>
            </tr>
        }
    </tbody>
</table>
