@model DiamondBet.Web.ViewModels.Games.GamesListViewModel
@{
    this.ViewData["Title"] = "Upcoming Games in 24 hours";
}
<h1 class="text-center" style="color: rebeccapurple">@this.ViewData["Title"]</h1>

<ul class="row justify-content-center nav">
    <li class="nav-item">
        <a class="nav-link" style="color: mediumblue" asp-area="" asp-controller="Games" asp-action="PreviousGames">Previous Games</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: mediumblue" asp-area="" asp-controller="Games" asp-action="UpcomingGames">All Upcoming Games</a>
    </li>
</ul>

<table class="table table-striped table-hover">
    <thead style="background-color: mediumslateblue">
        <tr>
            <th class="col-2 text-white">Date</th>
            <th class="col-4 text-white">Game</th>
            <th class="col-6 text-white">Odds</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var game in Model.Games)
        {
            <tr>
                <td>
                    <p>@game.StartingTime</p>
                </td>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ById" asp-route-id="@game.Id">@game.HomeTeamName - @game.AwayTeamName</a>
                </td>
                <td class="btn-group btn-group-toggle container px-0" data-toggle="buttons">
                    <form action="@Url.Content($"~/Bets/Create/{game.Id}")">
                        <div class="btn-group btn-group-toggle container" data-toggle="buttons">
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="1" value="1" />Home: <br /> @game.Odds.HomeWinOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="2" value="2" style="white-space: normal" />Draw: <br /> @game.Odds.DrawOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="3" value="3" />Away: <br /> @game.Odds.AwayWinOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="4" value="4" />Over: <br /> @game.Odds.OverOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="5" value="5" />Under: <br /> @game.Odds.UnderOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="6" value="6" />BTTS/Yes: <br /> @game.Odds.BTTSYesOdds
                            </label>
                            <label class="btn btn-outline-dark col border-0 text-center">
                                <input type="radio" name="PredictionId" id="7" value="7" />BTTS/No: <br /> @game.Odds.BTTSNoOdds
                            </label>

                            <input class="col-2" type="number" name="Stake" placeholder="Stake:" />
                            <input type="submit" value="Bet" class="btn btn-info col-1 m-0 p-0" />
                        </div>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>
