@model DiamondBet.Web.ViewModels.Competitions.CompetitionsListViewModel
@{
    this.ViewData["Title"] = "All Competitions";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success">@this.TempData["Message"]</div>
}

<h1 class="text-center p-lg-3" style="color: rebeccapurple">@this.ViewData["Title"]</h1>

<table class="table table-striped">
    <thead style="background-color: mediumslateblue">
        <tr>
            <th class="col-4 text-white">Competition Name</th>
            <th class="col-4 text-white">Country</th>
            <th class="col-4 text-white">Number of Participants</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var competition in Model.Competitions)
        {
            <tr>
                <td>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Competitions" asp-action="ById" asp-route-id="@competition.Id">@competition.Name</a>

                </td>
                <td>
                    <a class="nav-link text-dark text-left" asp-area="" asp-controller="Countries" asp-action="ById" asp-route-id="@competition.CountryId">@competition.CountryName</a>
                </td>
                <td>
                    <p>@competition.NumberOfParticipants</p>
                </td>
            </tr>
        }
    </tbody>
</table>